html,
body {
    position: relative;
    min-height: 100%;
    color: #9eaab7;
    background-color: #0f1117;
    margin: 0;
    font-feature-settings: 'kern';
    line-break: auto;
    font-family: 'Wotfard', -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', 'Cantarell', 'Noto Sans', sans-serif, 'BlinkMacSystemFont', 'Helvetica Neue', 'Arial', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#editor {}

.text-edit {
    display: flex;
    flex: 0.5;
    flex-direction: column;
}

.text-edit>textarea {
    flex: 1;
}

a,
a:visited {
    color: inherit;
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0.75rem;
    margin: 2rem;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: white;
}

// .logarea {
//     height: 100%;
//     width: 100%;
// }
// .log {
//     resize: none;
//     white-space: pre-wrap;
//     display: block;
//     font-weight: 300;
//     font-family: Verdana, Arial, Helvetica, sans-serif;
//     height: calc(90% - 480px);
//     width: calc(100% - 20px);
//     margin: auto;
//     font-size: 12px;
//     overflow: auto;
// }
.container {
    min-height: 520px;
    padding: 10px;
    margin: 0;
    width: inherit;
    height: auto;
    position: relative;
}

.btn {
    border-radius: 8px;
    margin-right: 4px;
    padding: 8px 8px 8px 8px;
    clear: both;
    color: #9eaab7;
    background-color: #181b2b;
    border-style: solid;
    border-color: #181b2b;
}

.submission .text_input {
    resize: none;
    float: right;
    overflow: auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 320px;
    height: 480px;
}

.container .submission {
    position: relative;
    float: right;
}

.container .submission .button {
    position: absolute;
    bottom: 0;
    left: -75px;
    border-radius: 8px;
    border-radius: 8px;
    padding: 8px 8px 8px 8px;
    clear: both;
    color: black;
    border-color: white;
    border-style: solid;
    background-color: white;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.bold {
    font-weight: 900;
}

.font-md {
    font-size: 1.5rem;
}

.font-lg {
    font-size: 2.5rem;
}

.dflex {
    display: flex;
}

.dflex-justify-between {
    justify-content: space-between;
}

.dflex-justify-center {
    align-items: center;
}

.dflex-gap-sm {
    gap: 1rem;
}

.dflex-gap-md {
    gap: 2.5rem;
}

.dflex-row {
    flex-direction: row;
}

.dflex-col {
    flex-direction: column;
}

// body {
//     font-weight: 300;
//     font-family: 'Corier New', monospace;
//     color: white;
//     background-color: #242424;
// }
// .text_input {
//     float: right;
//     font-weight: 300;
//     font-family: Verdana, Arial, Helvetica, sans-serif;
//     width: 50%;
//     font-size: 15px;
//     margin: 0;
//     overflow: auto;
// }
// .button {
//     border-radius: 12px;
//     padding: 8px 8px 8px 8px;
//     float: right;
//     margin: 4px;
//     border-style: solid;
//     clear: both;
//     color: white;
//     background-color: transparent;
//     border-color: white;
//     border-width: 2px;
// }
// .nextprev {
//     border-radius: 12px;
//     padding: 8px 8px 8px 8px;
//     float: inline-start;
//     border-style: solid;
//     margin: 4px;
//     clear: left;
//     color: white;
//     background-color: transparent;
//     border-color: white;
//     border-width: 2px;
// }

/* CSS */

// .button-60 {
//     align-items: center;
//     appearance: none;
//     background-color: #fff;
//     border: 1px solid #dbdbdb;
//     border-radius: .375em;
//     box-shadow: none;
//     box-sizing: border-box;
//     color: #363636;
//     cursor: pointer;
//     display: inline-flex;
//     font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
//     font-size: 1rem;
//     height: 2.5em;
//     justify-content: center;
//     line-height: 1.5;
//     padding: calc(.5em - 1px) 1em;
//     position: relative;
//     text-align: center;
//     user-select: none;
//     -webkit-user-select: none;
//     touch-action: manipulation;
//     vertical-align: top;
//     white-space: nowrap;
//     float: right;
//     clear: both;
// }
// .button-60:active {
//     border-color: #4a4a4a;
//     outline: 0;
// }
// .button-60:focus {
//     border-color: #485fc7;
//     outline: 0;
// }
// .button-60:hover {
//     border-color: #b5b5b5;
// }
// .button-60:focus:not(:active) {
//     box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
// }